name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - uses: astral-sh/setup-uv@v6
    - run: uv sync

    - uses: astral-sh/ruff-action@v3
      continue-on-error: true

    - run: ruff format --check --diff
      continue-on-error: true

    - run: uv run pyright
      continue-on-error: true

    - run: uv run pytest
